<!doctype html>
<title>Buzzword Bingo -- Presented by Sauce Labs</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="static/bingo.js"></script>
</head>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page align=center>
  <h1>buzzword bingo!</h1>
  <br />
  <table class="dataframe" id="gameboard">
  {% for i in range(5) %}
    <tr>
    {% for j in range(5) %}
      <td class="cell">
      {% if buzzwords[i*5+j] == "saucederps" %}
        <img src="static/saucederps.jpg" width="99px" height="99px" />
      {% else %}
        <p>{{buzzwords[i*5+j]}}</p>
      {% endif %}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
</div>
